{% extends 'base.html.twig' %}

{% block title %}Engistrement de votre compte{% endblock %}

{% block body %}
    <h4 class="title">Enregistrement</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <br/>
        <button class="waves-effect waves-light btn" type="submit">Créer mon compte</button>
    {{ form_end(form) }}


    <style> h2
    max-width: 960px
    margin: 50px auto
    .title
    overflow: hidden
    text-align: center
    span
    position: relative
    padding: 1em  
    &:before,
    &:after
      content: ""
      display: block
      position: absolute
      height: 1px
      background: #000
      width: 1200px
      top: 50%
      margin-top: -1px
    &:before
      right: 100%
    &:after
      left: 100% </style>

{% endblock %}


