{% extends 'base.html.twig' %}

{% block title %}Engistrement de votre compte{% endblock %}

{% block body %}
    <h2 class="title">Enregistrement</h2>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <br/>
        <button class="waves-effect waves-light btn" type="submit">Créer mon compte</button>
    {{ form_end(form) }}


    <style>
    .title {
        font-size:30px
    }
    
    </style>

{% endblock %}


