{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}

   Bienvenue sur votre espace,
   <a href="{{ path('package_index') }}" class="waves-effect waves-light btn"><i class="material-icons left">featured_play_list</i>Liste des colis</a>
   <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <div class="card-panel">
    
        <li><a </a></li>
        <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
    </div>
    
    <a class="waves-effect waves-light btn">buttsdsdsqdon</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

    {# <a href="{{ path('security_login') }}">Se connecter</a> #}

{% endblock %}



