{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}

   Bienvenue sur votre espace,
    <div class="card-panel">
        <li><a href="{{ path('package_index') }}">Liste des colis</a></li>
        <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
    </div>
    <a class="waves-effect waves-light btn">buttsdsdsqdon</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

    {# <a href="{{ path('security_login') }}">Se connecter</a> #}

{% endblock %}



