{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
   Bienvenue sur votre espace,
    <a href="http://localhost/package">URL relative au schéma</a>
    {# <a href="{{ path('security_login') }}">Se connecter</a> #}

{% endblock %}
