{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
   Bienvenue sur votre espace,
    <a href="http://localhost/register">S'inscrire</a>
    <a href="http://localhost/login">Se connecter</a>
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>

    {# <a href="{{ path('security_login') }}">Se connecter</a> #}

{% endblock %}



