{% extends 'base.html.twig' %}

{% block title %}Mon super site{% endblock %}

{% block body %}
   Bienvenue sur votre espace,
    {# <a href="{{ path('/login') }}">S'inscrire</a> #}
    {# <a href="{{ path('security_login') }}">Se connecter</a> #}

{% endblock %}
