{% extends 'base.html.twig' %}

{% block title %}Edition du livre {{ package.name }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
